{
  "root": true,
  "parser": "@typescript-eslint/parser",
  "plugins": ["@typescript-eslint"],
  "extends": [
    "eslint:recommended",
    "plugin:eslint-plugin/recommended",
    "plugin:node/recommended",
    "plugin:@typescript-eslint/recommended-type-checked",
    "plugin:@typescript-eslint/stylistic-type-checked",
    "prettier"
  ],
  "parserOptions": {
    "project": true
  },
  "env": {
    "node": true
  },
  "overrides": [
    {
      "files": ["tests/**/*.js"],
      "env": { "mocha": true }
    }
  ],
  "settings": {
    "node": {
      "tryExtensions": [".js", ".ts"]
    }
  }
}
